@{
    ViewBag.Title = "Total Status Wise Tickets " + @System.DateTime.Now;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Models.ViewModel
@model TicketModel
@using (@Html.BeginForm("TotalStatusWise", "Report", FormMethod.Post, new { @id = "frmPU", enctype = "multipart/form-data" }))
{    

    <!-- **Breadcrumb Section** -->
    <div class="breadcrumb-section">
        <div class="container">
            <h1>Total Status Wise Ticket Log</h1>
            <div class="breadcrumb">
                <a href="/Dashboard/Index" title="">Home</a> / <span>Power Usage</span>
            </div>
        </div>
    </div>
    <!-- **Breadcrumb Section Ends** -->

    <!-- **Content Main** -->
    <section class="content-main">
        <!-- **Container** -->
        <div class="container">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Refine</legend>
                @Html.Label("* From Date", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.FromDate)

                </div>
                @Html.Label("* To Date", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.ToDate)

                </div>
            
                <div class="col-sm-12" style="height: 5px;"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-10" style="float:left;display:-webkit-inline-box;">
                <input type="submit" name="btnsend" value="Go" class="dt-sc-button small" />
                    </div>
            </fieldset>
            @if (Model != null)
            {
                @*<fieldset class="scheduler-border">
                    <legend class="scheduler-border">Graphical Representation of Tickets</legend>
                    <div id="chartContainer" style="height: 300px; width: 100%;">
                    </div>

                </fieldset>*@
                <div class="panel panel-info" style="background-image: url(/Content/images/fullwidth-bg/pattern-bg1.jpg); background-position: 50% 49px; box-shadow: 0px 0px 5px 1px;">
                    <div class="panel-heading" style="position: relative;">
                        Ticket Log                
                    </div>

                    <div class="panel-body table-responsive">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Total Ticket</th>                                    
                                    <th>Open</th>
                                    <th>Resolved</th>
                                    <th>OnHold</th>
                                    <th>Assigned</th>
                                    <th>UnAssigned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h3><span class="label label-primary">@Model.ListTicket.Count()</span></h3>
                                    </td>
                                    <td>
                                        <h3><span class="label label-info">@Model.ListTicket.Where(m => m.TicketStatusID == 1).Count()</span></h3>
                                    </td>
                                    <td>
                                        <h3><span class="label label-success">@Model.ListTicket.Where(m => m.TicketStatusID == 2).Count()</span></h3>
                                    </td>
                                    <td>
                                        <h3><span class="label label-danger">@Model.ListTicket.Where(m => m.TicketStatusID == 3).Count()</span></h3>
                                    </td>
                                    <td>
                                        <h3><span class="label label-info">@Model.ListTicket.Where(m => m.AssignTo !=null).Count()</span></h3>
                                    </td>
                                    <td>
                                        <h3><span class="label label-primary">@Model.ListTicket.Where(m => m.AssignTo==null).Count()</span></h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            }
        </div>
    </section>
}


@*<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>*@
@*<script src="/Content/js/canvasjs.min.js"></script>


<script type="text/javascript">

    window.onload = function () {
        debugger;
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            exportEnabled: true,            
            animationEnabled: true,
            title: {
                text: "Status Wise Total Tickets"
            },
            axisY: {
                title: "Tickets"
            },
            data: [
            {
                type: "column",
                dataPoints: [
                    
                    { y: @Html.Raw(ViewBag.Total), label:"Total"  },
                    { y: @Html.Raw(ViewBag.TicketOpen), label:"Open"  },
                    { y: @Html.Raw(ViewBag.TicketResolved), label:"Resolved"  },
                    { y: @Html.Raw(ViewBag.OnHold), label:"OnHold"  },
                    { y: @Html.Raw(ViewBag.Assign), label:"Assigned"  },
                    { y: @Html.Raw(ViewBag.UnAssign), label:"UnAssigned"  }
                     //{ y: 6, label: "Apple" },
                     //{ y: 4, label: "Mango" },
                     //{ y: 5, label: "Orange" },
                     //{ y: 7, label: "Banana" },
                     //{ y: 0, label: "Pineapple" },
                     //{ y: 6, label: "Pears" },
                     //{ y: 7, label: "Grapes" },
                     //{ y: 5, label: "Lychee" },
                     //{ y: 4, label: "Jackfruit" }
                ]
            }
            ]
        });
        chart.render();
    };
    </script>*@
