@{
    ViewBag.Title = "User Log " + @TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("India Standard Time")).ToString("dd/MM/yyyy hh:mm tt");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Models.ViewModel
@model UserModel
@using (@Html.BeginForm("UserLog", "Report", FormMethod.Post, new { @id = "frmPU", enctype = "multipart/form-data" }))
{    

    <!-- **Breadcrumb Section** -->
    <div class="breadcrumb-section">
        <div class="container">
            <h1>User Log</h1>
            <div class="breadcrumb">
                <a href="/Dashboard/Index" title="">Home</a> / <span>Power Usage</span>
            </div>
        </div>
    </div>
    <!-- **Breadcrumb Section Ends** -->

    <!-- **Content Main** -->
    <section class="content-main">
        <!-- **Container** -->
        <div class="container">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Refine</legend>
                @Html.Label("* From Date", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.FromDate)

                </div>
                @Html.Label("* To Date", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.ToDate)

                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                @Html.Label("Select User", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.RadioButton("Company User", "1", new { @id = "rdbUser", @group = "rdb" })Company User
                        @Html.RadioButton("Staff", "2", new { @id = "rdbStaff", @group = "rdb" })Staff
                   
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                <div id="dvUser">
                    @Html.Label("Company", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @*@Html.DropDownListFor(m => m.DataCenter, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Data Center--", Value = "" }, new SelectListItem() { Text = "Global Switch", Value = "1" }, new SelectListItem() { Text = "NextDC S1", Value = "2" }, new SelectListItem() { Text = "NextDC M1", Value = "3" }, new SelectListItem() { Text = "NextDC B1", Value = "4" } }, new { @class = "form-control" })*@
                        @Html.DropDownListFor(m => m.CompID, new SelectList(Model.ListComp, "CompID", "Name"), "--Select Company--", new { @class = "form-control" })

                    </div>
                    @Html.Label("User", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.UID, new SelectList(Model.UserList, "UID", "FirstName"), "--Select User--", new { @class = "form-control" })

                    </div>
                </div>
                <div id="dvStaff">

                    @Html.Label("Staff", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.sid, new SelectList(Model.StaffList, "UID", "FirstName"), "--Select Staff--", new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-10" style="float: left; display: -webkit-inline-box;">
                    <input type="submit" name="btnsend" value="Go" class="dt-sc-button small" />
                </div>
            </fieldset>




            @if (Model.ListUser != null)
            {
@*<fieldset class="scheduler-border">
                    <legend class="scheduler-border">Graphical Representation of Tickets</legend>
                    <div id="chartContainer" style="height: 300px; width: 100%;">
                    </div>

                </fieldset>*@
                <div class="panel panel-info" style="background-image: url(/Content/images/fullwidth-bg/pattern-bg1.jpg); background-position: 50% 49px; box-shadow: 0px 0px 5px 1px;">
                    <div class="panel-heading" style="position: relative;">
                        User Log                                         
                    </div>

                    <div class="panel-body table-responsive">

                        <table class="table" id="tbl">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Company</th>
                                    <th>Role</th>
                                    <th>Datetime</th>
                                    <th>IP Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.ListUser)
                                {
                                    
                                    <tr>
                                        <td>@i.Title @i.FirstName @i.LastName</td>
                                        <td>@i.CompDetails.Name</td>
                                        @if (@i.Role == 1) 
                                        { 
                                        <td>Super Admin</td>
                                        } 
                                        else if (@i.Role == 2) 
                                        {
                                            <td>Company Admin</td> 
                                        }
                                        else if (@i.Role == 3)
                                        {
                                            <td>Company User</td>
                                        }
                                        else if (@i.Role == 4)
                                        {
                                            <td>Staff</td>
                                        }
                                        else
                                        {
                                         <td></td>   
                                        }
                                        <td>@i.DateTime.Value.ToString("dd/MM/yyyy hh:m tt")</td>
                                        <td>@i.IPAddress</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            }
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        $("#dvUser").hide();
        $("#dvStaff").hide();
        debugger;
        $("#rdbUser").on('change', function () {
            $("#dvUser").show();
            $("#dvStaff").hide();
            $("#rdbStaff").prop('checked', false);
            $("#sid").prop('selectedIndex', 0);
        });
        $("#rdbStaff").on('change', function () {
            $("#dvStaff").show();
            $("#dvUser").hide();
            $("#rdbUser").prop('checked', false);
            $("#UID").prop('selectedIndex', 0);
            $("#CompID").prop('selectedIndex', 0);
        });
    });
</script>


<script>
    $(document).ready(function () {



        $('#tbl').DataTable({
            "bSort": false,
            "pageLength": 20,
            //dom: 'Bfrtip',
            //buttons: [
            //    //'copy', 'csv', 'excel', 'pdf', 'print'
            //    'pdf'            
            //],
          //  "aoColumnDefs": [
          //{ 'bSortable': false, 'aTargets': [ 1 ] }
          //  ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                //'colvis'
            ]
        });
    });
</script>
<script lang="javascript" type="text/javascript">
    $(document).ready(function () {

        //Get Plotno by schemeID
        $("#CompID").change(function () {
            $("#divLoading").show();
            debugger;

            var CompIds = $('#CompID').val();
            $.ajax(
            {
                url: '@Url.Action("FillUser", "Request")',
                type: "GET",
                datatype: "JSON",
                data: { cid: CompIds },

                success: function (user) {
                    debugger;

                    $("#UID").html("");  // clear before appending new list 
                    $("#UID").append("<option value='0'>--Select User--</option>");
                    $.each(user, function (i, CreatedBy) {

                        $("#UID").append(

                            $('<option></option>').val(CreatedBy.UID).html(CreatedBy.Title + ' ' + CreatedBy.FirstName + ' ' + CreatedBy.LastName));
                        $("#divLoading").hide();

                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                    $("#divLoading").hide();

                }

            });

        });
    });
</script>
