@{
    ViewBag.Title = "Category Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Models.ViewModel
@model TicketTypeModel

@using (@Html.BeginForm("EditSubCat", "Category", FormMethod.Post, new { @id = "frmComp", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.TTSID)
    if (Session["Role"] != null)
    {
        int role = Convert.ToInt32(Session["Role"].ToString());
        if (role == 1)
        {      
    <!-- **Breadcrumb Section** -->
    <div class="breadcrumb-section">
        <div class="container">
            <h1>Category</h1>
            <div class="breadcrumb">
                <a href="/Dashboard/Index" title="">Home</a> / <span>Company</span>
            </div>
        </div>
    </div>
    <!-- **Breadcrumb Section Ends** -->

    <!-- **Content Main** -->
    <section class="content-main">
        <!-- **Container** -->
        <div class="container">


            <div class="panel panel-info" style="background-image: url(/Content/images/fullwidth-bg/pattern-bg1.jpg); background-position: 50% 49px; box-shadow: 0px 0px 5px 1px;">
                <div class="panel-heading" style="position: relative;">
                    Category Details
                    @*<input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" />*@
                    <a href="/Category/Index" class="btnAdd btn btn-primary">Back</a>
                </div>
                <div class="panel-body">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Category</legend>

                        <div class="form-group">
                            @Html.Label("* Category", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.TypeID, new SelectList(Model.ListActiveCat, "TicketTypeID", "TicketType"), "--Select Category--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TypeID)
                            </div>
                            @Html.Label("* Sub Category", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.SubType, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.SubType)

                            </div>

                            <div class="col-sm-12" style="height: 5px;"></div>
                            @Html.Label("Description", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.SubDesc, new { @class = "form-control" })
                            </div>
                            @Html.Label("Status", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.RadioButtonFor(m => m.Status, true)Active
                        @Html.RadioButtonFor(m => m.Status, false)InActive
                            </div>
                            <div class="col-sm-12" style="height: 5px;"></div>
                            <div class="col-sm-4">

                                <input type="submit" value="Update" id="btnSave" name="cmd" class="btn btn-primary" />
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

        </div>
    </section>
        }
        else
        {
            Response.Redirect("/Login/Index");
        }
    }

}

