@{
    ViewBag.Title = "User Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Models.ViewModel
@model UserModel
@using (@Html.BeginForm("Index", "User", FormMethod.Post, new { @id = "frmUser", enctype = "multipart/form-data" }))
{
    if (Session["Role"] != null)
    {
        int r = Convert.ToInt32(Session["Role"].ToString());
        if (r == 1 || r == 2)
        {
    <!-- **Breadcrumb Section** -->
    <div class="breadcrumb-section">
        <div class="container">
            <h1>User</h1>
            <div class="breadcrumb">
                <a href="/Dashboard/Index" title="">Home</a> / <span>User</span>
            </div>
        </div>
    </div>
    <!-- **Breadcrumb Section Ends** -->
    
    <!-- **Content Main** -->
    <section class="content-main">
        <!-- **Container** -->
        <div class="container">


            <div class="panel panel-info" id="dvAdd" style="background-image: url(/Content/images/fullwidth-bg/pattern-bg1.jpg); background-position: 50% 49px; box-shadow: 0px 0px 5px 1px;">
                <div class="panel-heading" style="position: relative;">
                    User Details
                    <input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" />
                </div>
                <div class="panel-body">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Basic Information</legend>
                        <div class="form-group">
                            @{
            int role = 0;
            if (Session["Role"] != null)
            {
                role = Convert.ToInt32(Session["Role"].ToString());
            }
                            }
                            @if (role == 1)
                            {
                                
                                @Html.Label("* Role", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">

                                    @Html.DropDownListFor(m => m.Role, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Role--", Value = "" }, new SelectListItem() { Text = "Super Admin", Value = "1" }, new SelectListItem() { Text = "Company Admin", Value = "2" }, new SelectListItem() { Text = "Company User", Value = "3" }, new SelectListItem() { Text = "Staff", Value = "4" } }, new { @class = "form-control", @id = "ddlRole" })
                                    @Html.ValidationMessageFor(m => m.Role)
                                </div>
                            }
                            else
                            {
                                @Html.Label("* Role", new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">

                                    @Html.DropDownListFor(m => m.Role, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Role--", Value = "" }, new SelectListItem() { Text = "Company Admin", Value = "2" }, new SelectListItem() { Text = "Company User", Value = "3" } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Role)
                                </div>
                            }

                            @Html.Label("* Company", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(m => m.CompID, new SelectList(Model.ListComp, "CompID", "Name"), "--Select Company--", new { @class = "form-control", @id = "ddlComp" })
                                @Html.ValidationMessageFor(m => m.CompID)
                            </div>
                            <div class="col-sm-12" style="height: 5px;"></div>
                            @Html.Label("* Name", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.DropDownListFor(m => m.Title, new List<SelectListItem>() { new SelectListItem() { Text = "--Select Title--", Value = "" }, new SelectListItem() { Text = "Mr", Value = "Mr" }, new SelectListItem() { Text = "Ms", Value = "Ms" }, new SelectListItem() { Text = "Miss", Value = "Miss" }, new SelectListItem() { Text = "Mrs", Value = "Mrs" }, new SelectListItem() { Text = "Dr", Value = "Dr" }, new SelectListItem() { Text = "Sir", Value = "Sir" } }, new { @class = "form-control" })

                                @*@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(m => m.Title)

                            </div>


                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "* First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName)

                            </div>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                @*@Html.ValidationMessageFor(m => m.EmpNo)*@

                            </div>
                            <div class="col-sm-12" style="height: 5px;"></div>
                            @Html.Label("* Email", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "as Username" })
                                @Html.ValidationMessageFor(m => m.Email)
                                <span class="label label-danger">As User's Username</span>
                            </div>
                            @Html.Label("* Mobile", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.mobile, new { @class = "form-control", @placeholder = "as Password" })
                                @Html.ValidationMessageFor(m => m.mobile)
                                <span class="label label-danger">As User's Password</span>
                            </div>


                            <div class="col-sm-12" style="height: 5px;"></div>
                            @Html.Label("Phone", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })


                            </div>

                            @Html.Label("City", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(m => m.EmpNo)*@

                            </div>



                            <div class="col-sm-12" style="height: 5px;"></div>
                            @Html.Label("Post Code", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(m => m.EmpNo)*@

                            </div>
                            @*    @Html.Label("Country", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                            

                        </div>*@
                            @Html.Label("Address", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address)

                            </div>


                        </div>
                    </fieldset>
                    @*<fieldset class="scheduler-border">
                        <legend class="scheduler-border">Task Assignment</legend>*@

                    @* @Html.Label("Request Quote", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(m => m.ReqQ, "True")Yes
                        @Html.RadioButtonFor(m => m.ReqQ, "False")No
                        </div>*@
                    @*   @Html.Label("Portal", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(m => m.Portal, "True")Yes
                        @Html.RadioButtonFor(m => m.Portal, "False")No
                        </div>
                        @Html.Label("Raise Tickets", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(m => m.Tickets, "True")Yes
                        @Html.RadioButtonFor(m => m.Tickets, "False")No
                        </div>*@
                    <div class="col-sm-12" style="height: 5px;"></div>
                    @*  @Html.Label("Monitor Power", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(m => m.Power, "True")Yes
                        @Html.RadioButtonFor(m => m.Power, "False")No
                        </div>
                        @Html.Label("Monitor Access", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(m => m.Access, "True")Yes
                        @Html.RadioButtonFor(m => m.Access, "False")No
                        </div>
                        <div class="col-sm-12" style="height: 5px;"></div>
                   
                        @Html.Label("Invoice", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.RadioButtonFor(m => m.Invoice, "True")Yes
                        @Html.RadioButtonFor(m => m.Invoice, "False")No
                        </div>*@

                    @*</fieldset>*@
                    <div class="col-sm-12" style="height: 5px;"></div>
                    <div class="col-sm-3">
                        <input type="submit" name="btnsend" value="Save" class="dt-sc-button small" />
                    </div>
                </div>
            </div>

            <div class="panel panel-info" id="dvGrid" style="background-image: url(/Content/images/fullwidth-bg/pattern-bg1.jpg); background-position: 50% 49px; box-shadow: 0px 0px 5px 1px;">
                <div class="panel-heading" style="position: relative;">
                    User List
                    <input type="button" id="btnAdd" value="Add New" class="btnAdd btn btn-primary" />
                </div>
                <div class="panel-body table-responsive">
                    <table class="table" id="tbl">
                        <thead>
                            <tr>
                                <th>Name</th>
                                @if (role == 1)
                                {
                                    <th>Company</th>
                                }
                                <th>Role</th>
                                <th>City</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.ListUser)
                            {
                                <tr>
                                    <td>@i.Title @i.FirstName @i.LastName</td>
                                    @if (role == 1)
                                    {
                                        <td>@i.CompDetails.Name</td>
                                    }
                                    @if (@i.Role == 1)
                                    { 
                                        <td>Super Admin</td>
                                    }
                                    else if (@i.Role == 2)
                                    {
                                        <td>Company Admin</td> 
                                    }
                                    else if (@i.Role == 3)
                                    {
                                        <td>Company User</td>
                                    }
                                    else if (@i.Role == 4)
                                    {
                                        <td>Staff</td>
                                    }
                                    else
                                    {
                                        <td></td>   
                                    }
                                    <td>@i.City</td>
                                    <td>@i.Email</td>
                                    <td>@i.Phone</td>
                                    @if (@i.Status == 1)
                                    {
                                        <td>Active</td>
                                    }
                                    else
                                    {<td>InActive</td>}
                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { @id = i.UID }, new { @class = "fa fa-pencil-square fa-lg ca" })
                                        @*<a class="fa fa-pencil-square fa-lg" id="aedit" value="@item.CID"></a>*@
                                        @*&nbsp;@Html.ActionLink(" ", "View", new {@id = Empid, @cid = @item.Id, @menuId = Convert.ToInt32(Request.QueryString["menuid"])}, new { @class="fa fa-eye"})
                                    &nbsp;@Html.ActionLink(" ", "Delete", new { @id = @item.EmpId, @cid = @item.Id, @menuId = Convert.ToInt32(Request.QueryString["menuid"]) }, new { onclick = "return confirm('Do you really want to delete the contact details of " + @item.EmployeeDetails.Empname + "?')", @class = "fa fa-trash fa-lg" })*@
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    
        }
        else
        {
            Response.Redirect("/Login/Index");
        }
    }
}


<script>
    $(document).ready(function () {

        debugger;
        $("#ddlRole").change(function () {




            var val = $('#ddlRole').val();
            debugger;
            if (val == 1 || val == 4) {
                $("#ddlComp").prop('selectedIndex', 0);
                $("#ddlComp").prop('disabled', true);

            }
            else {
                $("#ddlComp").prop('selectedIndex', 0);
                $("#ddlComp").prop('disabled', false);
            }


        });
    });
</script>


